/*Parent container for BOTH the inner and outer circles*/
.parent1{
    height: 450px;
    width: 450px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 20px;
}

/*OUTER circle*/
.circle { 
  /*z index makes sure ths circle is BELOW the INNER circle*/
  z-index: 1; 
  height: 200px;
  width: 200px;
  position: relative;
  background-color: transparent;
  border-radius: 100%;
  border: 7px solid #7FFFD4;
  opacity: 0.75;
  margin: 5px;
}

/*Removes the blue background on button click!*/
button:focus {outline:0;} 

/*This is the static INNER circle*/
.button {
/*z index makes sure ths circle is ABOVE the OUTER circle*/
  z-index: 2;
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: transparent;
  border-radius: 100%;
  border: 10px solid grey;

}

/*Current Score box*/
.scoreBox{
  background-color: black;
  text-align:center;
  color:#e2eaf3;
  font-family: 'Verdana', sans-serif;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
  border-radius: 30px;
  padding-bottom: 3px;
  padding-top: 0.05px;
  margin-bottom: 10px;
}

/*Time Left in the score box*/
#timeRemain{
  color: green;
}

/*Short Description of the "Return Home" button*/
#returnDesc{
  background-color: black;
  text-align:center;
  color:#e2eaf3;
  font-family: 'Verdana', sans-serif;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
  border-radius: 8px;
}

/*Click to return back to home page, on start-up*/
#home{
  margin-top: 0px;
  background-color: green;
  text-align:center;
  color:#e2eaf3;
  font-family: 'Verdana', sans-serif;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
  border-radius: 10px;
}

/*Display the currently playing song track*/
#songName{
  margin-top: 0px;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
}

body{ 
  background: url('../Images/9.png');
  animation: moveBackground 90s linear infinite;
  background-size: cover;
}

@keyframes moveBackground{
  from{
    background-position: 0px 0px;
  } to {
    background-position: -1920px 0px;
  }
}


